<?xml version="1.0"?>
<launch>

    <arg name="id_robot" default="$(optenv ROBOT_ID rb1_base)"/>
    <arg name="prefix" default="$(arg id_robot)_" />    

    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x gdb --args" /> <!-- para depurar en la misma maquina -->

    <group ns="$(arg id_robot)">
        <node name="robot_local_control" pkg="robot_local_control" type="robot_local_control_node" output="screen" launch-prefix="$(arg launch_prefix)">
            <rosparam file="$(find robot_local_control_bringup)/config/base_configuration.yaml" command="load" />
                <param name="odom_frame" value="$(arg prefix)odom" />
                <param name="base_frame" value="$(arg prefix)base_footprint" />
                <param name="global_frame" value="$(arg prefix)map" />

            <rosparam file="$(find robot_local_control_bringup)/config/robot_status.yaml" command="load" ns="RobotStatusComponent" />

            <rosparam file="$(find robot_local_control_bringup)/config/navigation.yaml" command="load" ns="NavigationComponent"/>
                <param name="GoToComponent/global_frame" value="$(arg prefix)map" />
                <param name="GoToComponent/base_frame" value="$(arg prefix)base_footprint"/>
                <param name="PickComponent/dock_frame" value="$(arg prefix)cart" />
                <param name="PickComponent/robot_dock_frame" value="$(arg prefix)base_footprint"/>
                <param name="EnterShowerComponent/shower/frame_id" value="$(arg prefix)map"/>
                <param name="LeaveShowerComponent/shower/frame_id" value="$(arg prefix)map"/>

            <rosparam file="$(find robot_local_control_bringup)/config/localization.yaml" command="load" ns="LocalizationComponent"/>
            <rosparam file="$(find robot_local_control_bringup)/config/operation.yaml" command="load" ns="OperationComponent"/>
            <rosparam file="$(find robot_local_control_bringup)/config/control.yaml" command="load" ns="ControlComponent"/>
            <param name="id_robot" value="0" />
        </node>
    </group>
    
</launch>
