<?xml version="1.0"?>
<launch>
    <!-- ROBOT A ARGS -->
    <arg name="id_robot_a" default="rb1_base_a"/>
	<arg name="launch_robot_a" default="true"/>
    <arg name="move_base_robot_a" default="true"/>
	<arg name="amcl_and_mapserver_a" default="true"/>
    <!-- ROBOT B ARGS -->
	<arg name="id_robot_b" default="rb1_base_b"/>
	<arg name="launch_robot_b" default="true"/>
    <arg name="move_base_robot_b" default="true"/>
	<arg name="amcl_and_mapserver_b" default="true"/>
    <!-- ROBOT C ARGS -->
	<arg name="id_robot_c" default="rb1_base_c"/>
	<arg name="launch_robot_c" default="true"/>
    <arg name="move_base_robot_c" default="true"/>
	<arg name="amcl_and_mapserver_c" default="true"/>
	
    <include file="$(find rb1_base_sim_bringup)/launch/rb1_base_complete.launch">
        <!-- ROBOT A ARGS -->
        <arg name="id_robot_a" value="$(arg id_robot_a)"/>
        <arg name="launch_robot_a" value="$(arg launch_robot_a)"/>
        <arg name="move_base_robot_a" value="$(arg move_base_robot_a)"/>
        <arg name="amcl_and_mapserver_a" value="$(arg amcl_and_mapserver_a)"/>
        <!-- ROBOT B ARGS -->
        <arg name="id_robot_b" value="$(arg id_robot_b)"/>
        <arg name="launch_robot_b" value="$(arg launch_robot_b)"/>
        <arg name="move_base_robot_b" value="$(arg move_base_robot_b)"/>
        <arg name="amcl_and_mapserver_b" value="$(arg amcl_and_mapserver_b)"/>
        <!-- ROBOT C ARGS -->
        <arg name="id_robot_c" value="$(arg id_robot_c)"/>
        <arg name="launch_robot_c" value="$(arg launch_robot_c)"/>
        <arg name="move_base_robot_c" value="$(arg move_base_robot_c)"/>
        <arg name="amcl_and_mapserver_c" value="$(arg amcl_and_mapserver_c)"/>		
    </include>
    
</launch>
