<?xml version="1.0"?>
<launch>
  <arg name="command_input_name" default="command"/>
  <arg name="id_robot_a" default="rb1_base_a"/>
  <arg name="launch_robot_a" default="true"/>
  <arg name="id_robot_b" default="rb1_base_b"/>
	<arg name="launch_robot_b" default="true"/>
  <arg name="id_robot_c" default="rb1_base_c"/>
	<arg name="launch_robot_c" default="true"/>

  <!-- ROBOT A COMMAND INTERFACE-->
  <group if="$(arg launch_robot_a)" ns="rb1_base_a">
    <node name="command_manager" pkg="robot_simple_command_manager" type="simple_command_manager_node.py" output="screen">
      <param name="command_input_name" value="$(arg command_input_name)"/>
      <rosparam command="load" file="$(find rb1_base_endorse_bringup)/config/command/$(arg id_robot_a)_handlers.yaml"/>
    </node>
  </group>
  
  <!-- ROBOT B COMMAND INTERFACE-->
  <group if="$(arg launch_robot_b)" ns="rb1_base_b">
    <node name="command_manager" pkg="robot_simple_command_manager" type="simple_command_manager_node.py" output="screen">
      <param name="command_input_name" value="$(arg command_input_name)"/>
      <rosparam command="load" file="$(find rb1_base_endorse_bringup)/config/command/$(arg id_robot_b)_handlers.yaml"/>
    </node>
  </group>
  
  <!-- ROBOT C COMMAND INTERFACE-->
  <group if="$(arg launch_robot_c)" ns="rb1_base_c">
    <node name="command_manager" pkg="robot_simple_command_manager" type="simple_command_manager_node.py" output="screen">
      <param name="command_input_name" value="$(arg command_input_name)"/>
      <rosparam command="load" file="$(find rb1_base_endorse_bringup)/config/command/$(arg id_robot_c)_handlers.yaml"/>
    </node>
  </group>

</launch>


